
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<h5>
    Your Order  has been placed succesfully. Please click @Html.ActionLink("here", "Index", "Product") go to Product page!
</h5>
